NODE_ENV=test
PORT=3100
ALLOW_TEST_DB_RESET=true
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=55432
POSTGRES_USER=mordin_test
POSTGRES_PASSWORD=mordin_test
POSTGRES_DB=mordin_test
POSTGRES_SSL=false
POSTGRES_LOGS_HOST=127.0.0.1
POSTGRES_LOGS_PORT=55433
POSTGRES_LOGS_USER=mordin_test
POSTGRES_LOGS_PASSWORD=mordin_test
POSTGRES_LOGS_DB=mordin_logs_test
POSTGRES_LOGS_SSL=false
