# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=defaultdb
POSTGRES_SSL=true

# Secret keys
QR_SECRET="your qr secret key"

# JWT
JWT_ACCESS_SECRET="your jwt secret key"
JWT_ACCESS_EXPIRATION=2h      # Access token expiration time with s,m,h,d unit

# Azure AD
AZURE_AD_URL=
CLIENT_ID=
CLIENT_SECRET=
SCOPE=

# Mitrphol Authen
API_AUTHEN_PROFILE_URL=
APIM_SUBSCRIPTION_KEY=

# Mock Auth
ADMIN_USERNAME=
ADMIN_PASSWORD=